In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('pit_stops.csv')
df

      raceId  driverId  stop  lap      time duration  milliseconds
0        841       153     1    1  17:05:23   26.898         26898
1        841        30     1    1  17:05:52   25.021         25021
2        841        17     1   11  17:20:48   23.426         23426
3        841         4     1   12  17:22:34   23.251         23251
4        841        13     1   13  17:24:10   23.842         23842
...      ...       ...   ...  ...       ...      ...           ...
9629    1096       849     2   38  18:02:50   25.174         25174
9630    1096       840     2   40  18:04:44   21.802         21802
9631    1096       839     2   41  18:06:09   21.734         21734
9632    1096       846     2   42  18:07:36   21.559         21559
9633    1096       855     2   44  18:11:10   23.159         23159

[9634 rows x 7 columns]

In [18]:
df2=pd.read_csv('races.csv')
df2.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [13]:
df2[df2['year']==2021]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
1035,1053,2021,2,21,Emilia Romagna Grand Prix,2021-04-18,13:00:00,http://en.wikipedia.org/wiki/2021_Emilia_Romag...,2021-04-16,\N,2021-04-16,\N,2021-04-17,\N,2021-04-17,\N,\N,\N
1037,1052,2021,1,3,Bahrain Grand Prix,2021-03-28,15:00:00,http://en.wikipedia.org/wiki/2021_Bahrain_Gran...,2021-03-26,\N,2021-03-26,\N,2021-03-27,\N,2021-03-27,\N,\N,\N
1038,1051,2021,20,78,Qatar Grand Prix,2021-11-21,14:00:00,http://en.wikipedia.org/wiki/2021_Qatar_Grand_...,2021-11-19,\N,2021-11-19,\N,2021-11-20,\N,2021-11-20,\N,\N,\N
1039,1054,2021,3,75,Portuguese Grand Prix,2021-05-02,14:00:00,http://en.wikipedia.org/wiki/2021_Portuguese_G...,2021-04-30,\N,2021-04-30,\N,2021-05-01,\N,2021-05-01,\N,\N,\N
1040,1055,2021,4,4,Spanish Grand Prix,2021-05-09,13:00:00,http://en.wikipedia.org/wiki/2021_Spanish_Gran...,2021-05-07,\N,2021-05-07,\N,2021-05-08,\N,2021-05-08,\N,\N,\N
1041,1056,2021,5,6,Monaco Grand Prix,2021-05-23,13:00:00,http://en.wikipedia.org/wiki/2021_Monaco_Grand...,2021-05-21,\N,2021-05-21,\N,2021-05-22,\N,2021-05-22,\N,\N,\N
1042,1057,2021,6,73,Azerbaijan Grand Prix,2021-06-06,12:00:00,http://en.wikipedia.org/wiki/2021_Azerbaijan_G...,2021-06-04,\N,2021-06-04,\N,2021-06-05,\N,2021-06-05,\N,\N,\N
1043,1058,2021,8,70,Styrian Grand Prix,2021-06-27,13:00:00,http://en.wikipedia.org/wiki/2021_Styrian_Gran...,2021-06-25,\N,2021-06-25,\N,2021-06-26,\N,2021-06-26,\N,\N,\N
1044,1059,2021,7,34,French Grand Prix,2021-06-20,13:00:00,http://en.wikipedia.org/wiki/2021_French_Grand...,2021-06-18,\N,2021-06-18,\N,2021-06-19,\N,2021-06-19,\N,\N,\N
1045,1060,2021,9,70,Austrian Grand Prix,2021-07-04,13:00:00,http://en.wikipedia.org/wiki/2021_Austrian_Gra...,2021-07-02,\N,2021-07-02,\N,2021-07-03,\N,2021-07-03,\N,\N,\N
1046,1061,2021,10,9,British Grand Prix,2021-07-18,14:00:00,http://en.wikipedia.org/wiki/2021_British_Gran...,2021-07-16,\N,2021-07-17,\N,\N,\N,2021-07-16,\N,2021-07-17,\N
1047,1062,2021,11,11,Hungarian Grand Prix,2021-08-01,13:00:00,http://en.wikipedia.org/wiki/2021_Hungarian_Gr...,2021-07-30,\N,2021-07-30,\N,2021-07-31,\N,2021-07-31,\N,\N,\N
1048,1063,2021,12,13,Belgian Grand Prix,2021-08-29,13:00:00,http://en.wikipedia.org/wiki/2021_Belgian_Gran...,2021-08-27,\N,2021-08-27,\N,2021-08-28,\N,2021-08-28,\N,\N,\N
1049,1064,2021,13,39,Dutch Grand Prix,2021-09-05,13:00:00,http://en.wikipedia.org/wiki/2021_Dutch_Grand_...,2021-09-03,\N,2021-09-03,\N,2021-09-04,\N,2021-09-04,\N,\N,\N
1050,1065,2021,14,14,Italian Grand Prix,2021-09-12,13:00:00,http://en.wikipedia.org/wiki/2021_Italian_Gran...,2021-09-10,\N,2021-09-11,\N,\N,\N,2021-09-10,\N,2021-09-11,\N
1051,1066,2021,15,71,Russian Grand Prix,2021-09-26,12:00:00,http://en.wikipedia.org/wiki/2021_Russian_Gran...,2021-09-24,\N,2021-09-24,\N,2021-09-25,\N,2021-09-25,\N,\N,\N
1052,1067,2021,16,5,Turkish Grand Prix,2021-10-10,12:00:00,http://en.wikipedia.org/wiki/2021_Turkish_Gran...,2021-10-08,\N,2021-10-08,\N,2021-10-09,\N,2021-10-09,\N,\N,\N
1053,1069,2021,17,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...,2021-10-22,\N,2021-10-22,\N,2021-10-23,\N,2021-10-23,\N,\N,\N
1054,1070,2021,18,32,Mexico City Grand Prix,2021-11-07,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...,2021-11-05,\N,2021-11-05,\N,2021-11-06,\N,2021-11-06,\N,\N,\N
1055,1071,2021,19,18,São Paulo Grand Prix,2021-11-14,17:00:00,http://en.wikipedia.org/wiki/2021_S%C3%A3o_Pau...,2021-11-12,\N,2021-11-13,\N,\N,\N,2021-11-12,\N,2021-11-13,\N
1056,1072,2021,21,77,Saudi Arabian Grand Prix,2021-12-05,17:30:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...,2021-12-03,\N,2021-12-03,\N,2021-12-04,\N,2021-12-04,\N,\N,\N
1057,1073,2021,22,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...,2021-12-10,\N,2021-12-10,\N,2021-12-11,\N,2021-12-11,\N,\N,\N

In [15]:
df3=df[(df['raceId']>1050)&(df['raceId']<1074)]

In [17]:
df3['raceId'].unique()

array([1052, 1053, 1054, 1055, 1056, 1057, 1059, 1058, 1060, 1061, 1062,
       1064, 1065, 1066, 1067, 1069, 1070, 1071, 1051, 1072, 1073],
      dtype=int64)

### race by race for each team

In [68]:
df4=df3[df3.raceId==1071]
df4

      raceId  driverId  stop  lap      time duration  milliseconds
8643    1071       846     1    1  14:04:50   27.313         27313
8644    1071       852     1    4  14:08:22   31.939         31939
8645    1071       847     1    6  14:11:08   22.978         22978
8646    1071       852     2    6  14:11:57   17.758         17758
8647    1071       846     2    6  14:12:08   17.719         17719
...      ...       ...   ...  ...       ...      ...           ...
8717    1071         8     4   52  15:13:19   22.666         22666
8718    1071       832     4   53  15:13:50   22.745         22745
8719    1071        20     4   55  15:16:50   22.978         22978
8720    1071       854     5   61  15:26:09   24.627         24627
8721    1071       815     5   69  15:33:06   22.916         22916

[79 rows x 7 columns]

In [69]:
drivers=pd.read_csv('drivers.csv')
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Guanyu_Zhou
854,856,de_vries,45,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [70]:
drivers_2021=df4.driverId.unique()

In [71]:
filtered_drivers = drivers[drivers['driverId'].isin(drivers_2021)]
filtered_drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
7,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
452,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly
814,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
816,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
829,830,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
831,832,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.
838,839,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
839,840,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
840,841,giovinazzi,99,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi
842,844,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [72]:
filtered_drivers.shape

(20, 9)

In [95]:
teams=pd.read_csv('constructors.csv')
teams

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [96]:
teams2=pd.read_csv('constructor_results.csv')
teams2

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12165                 16665    1096            117     5.0     \N
12166                 16666    1096            213     0.0     \N
12167                 16667    1096             51     0.0     \N
12168                 16668    1096              3     0.0     \N
12169                 16669    1096            210     0.0     \N

[12170 rows x 5 columns]

In [97]:
teams3=teams2[(teams2['raceId']>1050)&(teams2['raceId']<1074)]
team_id=teams3.constructorId.unique()
team_id

array([131,   9,   1,   6, 213, 117,  51, 214,   3, 210], dtype=int64)

In [98]:
len(team_id)

10

In [100]:
teams_2021=teams[teams['constructorId'].isin(team_id)]
teams_2021

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
5,6,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
8,9,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing
49,51,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...
115,117,aston_martin,Aston Martin,British,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
129,131,mercedes,Mercedes,German,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [ ]:
filtered_drivers = drivers[drivers['driverId'].isin(drivers_2021)]
filtered_drivers

In [105]:
test=pd.read_csv('results.csv')
test

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [107]:
test=test[(test['raceId']>1050)&(test['raceId']<1074)]
test

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24960,24966,1052,1,131,44,2,1,1,1,25.0,56,1:32:03.897,5523897,44,4,1:34.015,207.235,1
24961,24967,1052,830,9,33,1,2,2,2,18.0,56,+0.745,5524642,41,2,1:33.228,208.984,1
24962,24968,1052,822,131,77,3,3,3,3,16.0,56,+37.383,5561280,56,1,1:32.090,211.566,1
24963,24969,1052,846,1,4,7,4,4,4,12.0,56,+46.466,5570363,38,6,1:34.396,206.398,1
24964,24970,1052,815,9,11,0,5,5,5,10.0,56,+52.047,5575944,44,3,1:33.970,207.334,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25395,25401,1073,849,3,6,16,\N,R,16,0.0,50,\N,\N,30,15,1:29.293,212.912,3
25396,25402,1073,841,51,99,14,\N,R,17,0.0,33,\N,\N,33,16,1:29.442,212.557,6
25397,25403,1073,847,3,63,17,\N,R,18,0.0,26,\N,\N,23,19,1:30.647,209.732,6
25398,25404,1073,8,51,7,18,\N,R,19,0.0,25,\N,\N,23,18,1:29.698,211.951,23
25399,25405,1073,853,210,9,20,\N,W,20,0.0,0,\N,\N,\N,0,\N,\N,139

In [108]:
unique_rows = test.drop_duplicates(subset='driverId')
unique_rows

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24960,24966,1052,1,131,44,2,1,1,1,25.0,56,1:32:03.897,5523897,44,4,1:34.015,207.235,1
24961,24967,1052,830,9,33,1,2,2,2,18.0,56,+0.745,5524642,41,2,1:33.228,208.984,1
24962,24968,1052,822,131,77,3,3,3,3,16.0,56,+37.383,5561280,56,1,1:32.090,211.566,1
24963,24969,1052,846,1,4,7,4,4,4,12.0,56,+46.466,5570363,38,6,1:34.396,206.398,1
24964,24970,1052,815,9,11,0,5,5,5,10.0,56,+52.047,5575944,44,3,1:33.970,207.334,1
24965,24971,1052,844,6,16,4,6,6,6,8.0,56,+59.090,5582987,39,11,1:34.988,205.112,1
24966,24972,1052,817,1,3,6,7,7,7,6.0,56,+66.004,5589901,36,10,1:34.932,205.233,1
24967,24973,1052,832,6,55,8,8,8,8,4.0,56,+67.100,5590997,48,7,1:34.509,206.151,1
24968,24974,1052,852,213,22,13,9,9,9,2.0,56,+85.692,5609589,38,8,1:34.761,205.603,1
24969,24975,1052,840,117,18,10,10,10,10,1.0,56,+86.713,5610610,31,9,1:34.865,205.378,1
24970,24976,1052,8,51,7,14,11,11,11,0.0,56,+88.864,5612761,45,14,1:35.192,204.672,1
24971,24977,1052,841,51,99,12,12,12,12,0.0,55,\N,\N,32,13,1:35.122,204.823,11
24972,24978,1052,839,214,31,16,13,13,13,0.0,55,\N,\N,33,15,1:35.250,204.548,11
24973,24979,1052,847,3,63,15,14,14,14,0.0,55,\N,\N,40,12,1:35.036,205.008,11
24974,24980,1052,20,117,5,20,15,15,15,0.0,55,\N,\N,26,16,1:35.566,203.871,11
24975,24981,1052,854,210,47,18,16,16,16,0.0,55,\N,\N,38,18,1:36.134,202.667,11
24976,24982,1052,842,213,10,5,17,17,17,0.0,52,\N,\N,48,5,1:34.090,207.069,31
24977,24983,1052,849,3,6,17,18,18,18,0.0,51,\N,\N,16,19,1:36.602,201.685,31
24978,24984,1052,4,214,14,9,\N,R,19,0.0,32,\N,\N,31,17,1:36.063,202.816,23
24979,24985,1052,853,210,9,19,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,3
25214,25220,1064,9,51,88,16,15,15,15,0.0,70,\N,\N,44,14,1:15.442,203.234,12

In [109]:
filtered_drivers = drivers[drivers['driverId'].isin(drivers_2021)]
filtered_drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
7,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
19,20,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
452,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,http://en.wikipedia.org/wiki/Pierre_Gasly
814,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
816,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo
821,822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
829,830,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
831,832,sainz,55,SAI,Carlos,Sainz,1994-09-01,Spanish,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.
838,839,ocon,31,OCO,Esteban,Ocon,1996-09-17,French,http://en.wikipedia.org/wiki/Esteban_Ocon
839,840,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,http://en.wikipedia.org/wiki/Lance_Stroll
840,841,giovinazzi,99,GIO,Antonio,Giovinazzi,1993-12-14,Italian,http://en.wikipedia.org/wiki/Antonio_Giovinazzi
842,844,leclerc,16,LEC,Charles,Leclerc,1997-10-16,Monegasque,http://en.wikipedia.org/wiki/Charles_Leclerc
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
19,20,18,20,5,15,9,\N,R,20,0.0,0,\N,\N,\N,\N,\N,\N,4
20797,20800,841,815,15,17,13,\N,D,22,0.0,58,\N,\N,39,6,1:29.962,212.209,2
20983,20986,849,817,164,22,24,19,19,19,0.0,49,\N,\N,30,22,1:40.910,210.163,13
21722,21725,880,822,3,17,16,14,14,14,0.0,57,\N,\N,42,12,1:30.652,210.594,11
22542,22546,926,832,5,55,7,9,9,9,2.0,57,\N,\N,49,11,1:32.872,205.560,11
22546,22550,926,830,5,33,11,\N,R,13,0.0,32,\N,\N,30,13,1:34.295,202.458,5
23191,23196,960,839,209,31,17,16,16,16,0.0,43,\N,\N,26,16,1:55.734,217.865,11
23385,23390,969,841,15,36,16,12,12,12,0.0,55,\N,\N,51,13,1:29.052,214.378,12
23389,23394,969,840,3,18,20,\N,R,16,0.0,40,\N,\N,38,14,1:29.389,213.569,23
23670,23675,983,842,5,10,15,14,14,14,0.0,55,\N,\N,45,16,1:37.170,205.359,11
23789,23794,989,844,15,16,18,13,13,13,0.0,58,+1:15.759,5449042,56,15,1:28.759,215.085,1
24208,24214,1010,846,1,4,8,12,12,12,0.0,57,\N,\N,17,16,1:28.555,215.581,11
24212,24218,1010,847,3,63,19,16,16,16,0.0,56,\N,\N,55,17,1:28.713,215.197,12
24630,24636,1031,849,3,6,20,11,11,11,0.0,71,+31.650,5487389,63,16,1:09.662,223.146,1
24968,24974,1052,852,213,22,13,9,9,9,2.0,56,+85.692,5609589,38,8,1:34.761,205.603,1
24975,24981,1052,854,210,47,18,16,16,16,0.0,55,\N,\N,38,18,1:36.134,202.667,11
24979,24985,1052,853,210,9,19,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,3

In [ ]:
fi